<div class="ob-wrap">
  <div class="tx" ng-init="getBook()">
    <table class="orderbook">
      <tr class="orderbookRow"><td class="orderbookAsksCol">
        <div class="offerListItem" ng-repeat="a in asks">
          <h7 class="ask"> {{ a[1] }} </h7>
          <h7 class="ask ask-price"> {{ a[0] | currency}} </h7>
          <svg height="1" width="500">
              <line x1="0" y1="0" x2="300" y2="0"/>
          </svg>
        </div>
      </td></tr>
      <tr class="orderbookRowMiddle"><td class="orderbookMidlineCol">
        <div class="close">
          <span class="askLabel">Ask</span>
          <span class="bidLabel">Bid</span>
          <span class="priceLabel">Price</span>
          <span class="volumeLabel">Volume</span>
        </div>
      </td></tr>
      <tr class="orderbookRow"><td class="orderbookBidsCol">
        <div class="bidListItem" ng-repeat="b in bids">
          <h7 class="bid"> {{ b[1] }} </h7>
          <h7 class="bid bid-price"> {{ b[0] | currency}} </h7>
            <svg height="1" width="500">
                <line x1="0" y1="0" x2="300" y2="0"/>
            </svg>
        </div>
      </td></tr>
    </table>
  </div>

  <div ng-controller="chartCtrl" class="chart">
          <nvd3 options="options" data="priceData"></nvd3>
  </div>

  <div class="orderbook-right-col" ng-if="auth.isAuth()">
    <div class="balances execution">
      <h5>Wallet Balances</h5>
      <div class="usd-balance">USD Balance: {{balances['usd'] | currency}} / Avail: {{balances['usd-available'] | currency}}</div>
      <div class="btc-balance">BTC Balance: {{balances['btc']}} / Avail: {{balances['btc-available']}}</div>
    </div>

    <div class="execution" ng-init="getBalance()">
      <h5>Order Entry</h5>

      <form class="orderForm" ng-submit="placeOrder()">

        <div class="execDetails">
          <label>Currency</label>
          <select ng-model="orderData.currency_pair_id"
                  ng-options="pair.value as pair.label for pair in pairs"
                  required>
          </select>
        </div>

        <div class="execDetails">
          <label>Type</label>
          <select ng-model="orderData.type"
                  ng-options="type for type in types"
                  required>
          </select>
        </div>

        <div class="execDetails" ng-if="orderData.type !== 'market'">
          <label>Price</label>
          <input ng-model="orderData.price" type="number" step="any" required>
        </div>

        <div class="execDetails">
          <label>Size</label>
          <input ng-model="orderData.size" type="number" step="any" required>
        </div>

        <div class="execDetails">
          <label>Side</label>
          <select ng-model="orderData.side"
                  ng-options="side for side in sides" required>
          </select>
        </div>

        <button type="submit">{{orderData.side}}</button>

      </form>
    </div>

    <div class="myOrders execution" ng-if="auth.isAuth()" ng-init="getOrders()">
      <h5>My Orders</h5>
      <table>
        <tr>
          <th>Price</th>
          <th>Size</th>
          <th>Cancel</th>
        </tr>
        <tr ng-repeat="order in myOrders track by $index">
          <td>{{order.price | currency}}</td>
          <td>{{order.size}}</td>
          <td><a class="x" ng-click="cancelOrder($index)">X</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
