svg {
 display:block;
 max-height: 100%;
}

.ob-wrap {
  margin-top: 5px;
  position: relative;
  height: 100%;
}

.chart {
  margin: 0 5%;
  background-color:#FFFFFF;
  height: 500px;
  width: 35%;
  display: inline-block;
}

.orderbookRow {
  position: relative;
  height: 400px;
  width: 100%;
}

.orderbookRowMiddle {
  position: relative;
  top: 50%;
  height: 35px;
  width: 100%;
}

.orderbookAsksCol {
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  overflow: hidden;
}

.orderbookMidline {}
.orderbookBidsCol {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.offerListItem, .bidListItem {
  position: relative;
  border: 1px solid black;
  display: block;
}

.orderbook{
  position: relative;
  width: 100%;
  height: 100%;
}

.tx {
  position: relative;
  width: 20%;
  height: 800px;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 2px solid #c50000;
  border-radius: 2px;
}

.close {
  display: block;
  position: relative;
  width: 100%;
  height: 33px;
  font-size: .65em;
  background: black;
}

.askLabel {
  position: absolute;
  left: 45%;
  color: red;
}

.bidLabel {
  position: absolute;
  left: 45%;
  bottom: 0;
  color: lightgreen;
}

.priceLabel {
  float: left;
  font-size: 2em;
}

.volumeLabel {
  float: right;
  font-size: 2em;
}
.execution > h5 {
  margin: 0;
  padding: 2px;
  background-color: black;
  color: darkgrey;
}

.execDetails {
  margin: 0 auto;
  padding: 5px;
  display: block;
  width: 80%;
}

.execDetails > label {
}

.execDetails > input, .execDetails > select{
  float: right;
}

.execution {
  border: 1px solid #dfdfdf;
  border-top: 2px solid #c50000;
  border-radius: 2px;
  width: 100%;
}

.wallet {
  background: #ffffff;
  height: 200px;
  width: 300px;
  margin-top:210px;
  position: absolute;
  margin-left: 78%;
}

.ask-price {
  color: #c50000;
  float: right;
}

.bid-price {
  color: #FF4500;
  float: right;
}

.orderForm > button {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  flex: 1 1 auto;
  margin: 5% 0 2% 42%;
  padding: 8px 15px;
  border: 2px solid #beb8b8;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  background: transparent;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: auto;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #beb8b8;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

div.tx {
  float: left;
}

div.orderbook-right-col {
  float: right;
  display: inline-block;
  width: 28%;
  margin-right: 10px;
}

div.orderbook-right-col div{
  padding: 1%;
}

.myOrders table {
  width: 100%;
}

.myOrders td {
  text-align: center;
  padding: 3px;
}

.x {
  text-align: center;
  background: #eee;
}

.x:hover {
  cursor: pointer;
  color: #c50000;
}
