svg {
 display:block;
 max-height: 100%;
}

.tx {
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  background: #6a91aa;
  width: 300px;
  height: 100%;
}

.execution > h5 {
  margin: 0;
  padding: 2px;
  background-color: black;
  color: darkgrey;
}

.execDetails {
  margin: 0 auto;
  padding: 5px;
  display: block;
  width: 80%;
}

.execDetails > label {
}

.execDetails > input, .execDetails > select{
  float: right;
}

.execution {
  border: 1px solid black;
  border-radius: 5px;
  background: #6a91aa;
  width: 100%;
}

.close {
  background: #4b6e84;
  height: 30px;
  width: 300px;
  position: relative;
  font-size: .55em;
}

.askLabel {
  margin: 0 auto;
  position: absolute;
  left: 45%;
  color: red;
}

.bidLabel {
  position: absolute;
  top: 15px;
  left: 45%;
  color: white;
}

.priceLabel {
  float: left;
  font-size: 2em;
}

.volumeLabel {
  float: right;
  font-size: 2em;
}
.wallet {
  background: #ffffff;
  height: 200px;
  width: 300px;
  margin-top:210px;
  position: absolute;
  margin-left: 78%;
}

.ask-price {
  color: orange;
  float: right;
}

.bid-price {
  color: yellow;
  float: right;
}

.orderForm > button {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  flex: 1 1 auto;
  margin: 10px;
  padding: 8px 15px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  background: transparent;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: auto;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

div.tx {
  float: left;
}

div.myOrders {
  width: 100%;
  background: #6a91aa;
  border-radius: 5px;
  border: 1px solid black;
}

div.orderbook-right-col {
  float: right;
  display: inline-block;
  width: 25%;
}

div.orderbook-right-col div{
  padding: 1%;
}

.myOrders table {
  width: 100%;
}

.myOrders td {
  padding: 3px;
}