body {
  font-family: arial, sans-serif;
  background: #1e2b34;
}

.nav {
  background: #FFFFFF;
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
  margin-left:-35px;
  margin-top:-25px;
}

#title {
  margin-left:25px;
}
svg {
 display:block;
 max-height: 100%;
}

.ordergrid {
  height:20px;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  color: gray;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px;
  margin-top: 5px;
}

bid {
  color:#467c48;
}

ask {
  color:#834635;
}

.order {
  background: #ff7b81;
  height: 30px;
  width: 100px;
}

.wideorder {
  background: #ff7b81;
  height: 20px;
  width: 150px;
}

.tx {
  margin-top: 10px;
  background: #6a91aa;
  height: 870px;
  width: 300px;
  position: absolute;
}

.execution {
  background: #6a91aa;
  height: 200px;
  width: 300px;
}

.wallet {
  background: #ffffff;
  height: 200px;
  width: 300px;
  margin-top:210px; 
  position: absolute;
  margin-left: 78%;
}

.close {
  background: #4b6e84;
  height: 30px;
  width: 300px;
}