# Dependency directories
node_modules/
bower_components/
client/lib/

# Compiled
dist/

# Misc
*.log
.DS_Store

# test generated output
results.txt

# knexfile - the master copy of this file works for travis, but most likeley
# will require some changes to run on your dev environment. see the README.md
# TODO: This???
#knexfile.js
