# Dependency directories
node_modules/
bower_components/
client/lib/

# Compiled
dist/

# Misc
*.log
.DS_Store

#.jshintrc - so you can have yours customized the way you like?
.jshintrc

# test generated output
results.txt
