<!doctype html>
<html lang="en">
    <head>
        <base href="/">
<!--         <link href="/assets/css/app.less" rel="stylesheet" /> -->

        <!-- build:js /app.js -->

        <!-- bower -->
        <script src="/bower_components/angular/angular.js"></script>
        <!-- endbower -->

        <!-- appcode -->
        <script src="/app/modules.js"></script>
        <script src="/app/app.js"></script>
        <!-- endappcode -->

        <!-- endbuild -->

    </head>
    <body ng-app="FlyptoX" ng-include="'/app/app.html'"></body>
</html>
