<!doctype html>
<html lang="en" ng-app="FlyptoX">
  <head>
    <title>FlyptoX</title>
    <base href="/">
    <link href="/assets/css/main.min.css" rel="stylesheet" />   
    <link rel="stylesheet" href="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.css"/>
  </head>
  <body>
    <!-- this should be some sort of template that the operater can config -->
    <!-- basically whatever the admin chooses gets loaded here instead of this.. -->

    <!-- the whole app runs in here -->
    <div class="container" ui-view></div>
    <!--
    load our js

    TODO: have gulp change this to non-min version during dev
    so we can remove the minification time from build process during dev
    gulp can just write this line based on the environment or something
    -->
    <script src="/app/main.js"></script>
    <script src="https://rawgit.com/mbostock/d3/master/d3.min.js"></script>
    <script src="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v0.1.1/dist/angular-nvd3.js"></script>
    <script>
      var socket = io({
        reconnection: false
      });
    </script>
  </body>
</html>
