<header>
  <h1>FlyptoX || Currency Exchange</h1>
  <nav>
    <a ui-sref="landing.home">FlyptoX</a>
    <a ui-sref="account">Account</a>
    <a ui-sref=".marketview">Market View</a>
    <button class="navAuth" ui-sref=".login">Login</button>
    <button class="navAuth" ui-sref=".signup">Signup</button>
  </nav>
  <div ng-model="user" ng-show="false" ng-controller="AuthController">
    <h2>Email</h2>
    <input type="text" ng-model='user.email' value="email" placeholder="satoshi@btc.com">
    <h2>Password</h2>
    <input type="password" ng-model='user.password' value="password" placeholder="******">
  </div>
</header>

<section>
  <div ui-view></div>
</section>

<footer>
  &copy; 2015 <a href="https://github.com/flipsidehr">Flipside</a>
</footer>
