* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  color: #000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  font-family: arial, sans-serif;
/*  background: #1e2b34;*/
  background: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

svg {
 display:block;
 max-height: 100%;
}

.main, .main-bottom {
  margin: 0 auto;
  padding: 50px 5px 18% 5px;
  background-color: #000;
  width: 100%;
  text-align: center;
}

.main-bottom {
  height: 350px;
}

.main > h3, .main-bottom > h3 {
  margin-top: 40px;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

.main > h3:before, .main > h3:after, .main > p:after, .main-bottom > h3:after {
  clear: both;
  content: "\00a0";
  display: table;
}

.main > p, .main-bottom > p {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 40px;
}

.main > a, .main-bottom > a {
  color: #000;
  background: #fff;
  padding: 15px 30px;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.main > a:hover, .main-bottom > a:hover {
  background: rgb(255,255,255);
  color: #c50000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .75em;
  letter-spacing: 3px;
  padding: 3px 0px;
  background: #000;
  color: #fff;
}

footer > a {
  color: #fff;
}

nav {
  overflow: auto;
  padding: 20px 10px 20px 20px;
  background-color: black;
  text-align: center;
}

nav > a, .nav-rest > a {
  display: inline-block;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  line-height: 20px;
}

.nav-rest > a {
  margin: 0px 20px;
}

nav > .home {
  float: left;
  margin-top: 2px;
  margin-right: 20px;
  font-size: 20px;
  padding: 5px 20px;
}

nav > .nav-rest {
  float: right;
}

.nav-rest > .sign-up {
  border: 2px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 7px 10px;
  margin-right: 20px;
}

.nav-rest > .sign-up:hover {
  background: #fff;
  color: #c50000;
}

nav > a:hover, .nav-rest > a:hover {
  color: #666;
}

.main > a:hover, nav > a:hover, .nav-rest > a:hover {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.01s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.35s;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.01s;
  -o-transition-property: all;
  -o-transition-duration: 0.35s;
  -o-transition-timing-function: ease-in-out;
  -o-transition-delay: 0.01s;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.01s;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: gray;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
  margin-top: 5px;
}

.nav-ticker {
  color: #fff;
  margin: 0 auto;
  display: inline-block;
  line-height: 20px;
  padding: 7px 0px;
  transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -webkit-transition: background-color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.nav-ticker.uptick {
  background-color: green;
}

.nav-ticker.downtick {
  background-color: red;
}

.nav-ticker.equaltick {
  background-color: #423B67;
}

.section {
  background-color: #FFF;
  width: 100%;
  padding-top: 25px;
  text-align: center;
}

.bottom {
  padding-bottom: 25px;
}

#sectionHead {
  font-size: 28px;
  color: black;
}


#landingHeader {
  font-size: 20px;
  line-height: 22px;
  color: black;
  margin-top: 4%;
  height: 44px;
}

#landingFont {
  font-size: 12px;
  line-height: 16px;
  color: black;
  margin-top: 5%;
  min-width: 160px;
  height: 96px;

}

.infoSection {
  display: inline-block;
  vertical-align: top;
  min-height: 150px;
  width: 15%;
  margin: 25px;
  font-size: 20px;
  color: black;
}

img #reverse {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.forkBtn{
  position: relative;
  top: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.drop {
  margin-top: 5%;
}
