body {
    font-family: arial, sans-serif;
    background: #EEEEEE;
    h1 {
        font-size: 3.5em;
        color: gray;
        text-align: center;
    }
    h2, h3, h4, h5 {
   		 color: #EEEEEE;
   		 font-family: Helvetica Neue;
    }
    .order {
    background: #ff7b81;
    height: 30px;
    width: 100px;
    }
    .tx {
    background: #ffffff;
    height: 870px;
    width: 300px;
    position: absolute;
    }
    .execution {
    background: #ffffff;
    height: 200px;
    width: 300px;
    }
    .close {
    background: #4b6e84;
    height: 30px;
    width: 300px;
    }
}