body {
    font-family: arial, sans-serif;
    background: #EEEEEE;
    h1 {
        font-size: 3.5em;
        color: gray;
        text-align: center;
    }
    .order {
    background: #ff7b81;
    height: 30px;
    width: 100px;
    }
    .tx {
    background: #ffffff;
    height: 850px;
    width: 300px;
    }
    .close {
    background: #4b6e84;
    height: 30px;
    width: 300px;
    }
}