<html>
	<head>
	<h1>Welcome to FlyptoX</h1>
	</head>
<body>
	<div class="tx" ng-app="FlyptoX" ng-controller="orderbookCtrl" ng-model="testData">
		      <h4>Exchange order book</h4> 
	        <div class="order">Bid</div>
	        <h6> {{testData.bids}} </h6>
	        <div ng-repeat="d in data">
	           <!--  <span>{{d}}</span>
	        <span>{{ d[0] }}</span>
	            <span>{{ d[1] }}</span> -->
	          <button ng-click="remove($index);">Remove</button>
	        </div>
	        <div class="close"></div>
	        <div class="order">Ask</div>
	        <h6> {{testData.asks}} </h6>
	    </div>
	 </div>
</body>
</html>