<html>
	<head>
	<h1>Welcome to FlyptoX</h1>
	</head>
<body>
	<div class="tx" ng-app="FlyptoX" ng-controller="orderbookCtrl" ng-model="testData">
		      <h4>Exchange order book</h4> 
	        <div class="order">Bid</div>
	        <div ng-repeat="d in testData.bids | limitTo: 20">
	         	<h7> {{ d[0] }} </h7>
	         	<h7 style="margin-left: 40px"> {{ d[1] }} </h7>
	         	<h7 style="float: right"> {{ d[2] }} </h7>
	         		        </div>
	        <div class="close"></div>
	        <div class="order">Ask</div>
 					<div ng-repeat="d in testData.asks | limitTo: 20">
	         	<h7> {{ d[0] }} </h7>
	         	<h7 style="margin-left: 40px"> {{ d[1] }} </h7>
	         	<h7 style="float: right"> {{ d[2] }} </h7>
	         	</div>
	    </div>
	 </div>


	 	<div style="float:right" class="execution" ng-app="FlyptoX" ng-controller="executionCtrl" ng-model="orderData">
	 	 			<div class="close"></div>
		      <h4>Place Orders</h4> 
	        <div class="order"></div>
	       <input>
	       <input>
	    </div>
	 </div>
</body>
</html>