.account {
  height: 100%;
  display: table;
}

.account > div {
  float: none;
  display: table-cell;
  vertical-align: top;
}

div.sections {
  width: 20%;
  max-width: 20%;
  min-width: 180px;
  background: rgb(49,52,66);
}

.sections a {
  display: inline-block;
  width: 100%;
  margin-bottom: 7%;
  text-align: center;
  color: rgb(152,152,159);
  cursor: pointer;
}

.sections a:hover {
  color: #eee;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.01s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.35s;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.01s;
  -o-transition-property: all;
  -o-transition-duration: 0.35s;
  -o-transition-timing-function: ease-in-out;
  -o-transition-delay: 0.01s;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.01s;
}

.sections a:first-child {
  margin-top: 50%;
}

div.history, div.wallets, div.settings {
  width: 80%;
  padding: 9px 0px;
  height: 100%;
  background: rgb(230,230,230);
}

div.filters {
  text-align: center;
}

.filters button, .settingsForm button {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  flex: 1 1 auto;
  margin: 1% 4%;
  padding: 8px 15px;
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  background: transparent;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: auto;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #000;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

.history table, .wallets table {
  margin: 2% auto 1% auto;
  width: 80%;
}

.history td, .wallets td {
  width: 10%;
  text-align: center;
  padding-top: 5px;
  height: 25px;
}

.headings {
  font-weight: bold;
  height: 25px;
}

.settings h1 {
  margin-bottom: 20px;
}

.settingsForm label {
  width: 100%;
  padding-left: 35%;
  display: block;
  margin: 5px 0;
}

.settingsForm input[type=text] {
  margin: 2% 0;
  width: 40%;
  outline: none;
  padding: 5px 3px;
  border: 1px solid #999;
}

.settingsForm button {
  display: block;
  margin: 1% auto;
  outline: none;
}

.br {
  display: block;
}
