div.sections {
  border: 1px solid green;
  width: 20%;
  max-width: 20%;
  display: inline-block;
  vertical-align: top;
}

.sections a {
  display: inline-block;
  width: 100%;
  margin-bottom: 7%;
  text-align: center;
}

.sections a:first-child {
  margin-top: 50%;
}

div.history {
  border: 1px solid magenta;
  width: 79%;
  display: inline-block;
  vertical-align: top;
}

div.filters {
  text-align: center;
}

.filters button {
  margin: 1% 4%;
  width: 10%;
  line-height: 3em;
}

.history table {
  margin: 1% auto 0 auto;
}

.history td {
  width: 10%;
  text-align: center;
  padding-top: 5px;
}

