.log > h3 {
  text-align: center;
  margin: 0 auto;
}

.loginBox {
  margin: 100px auto;
  padding: 10px;
  border: 2px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 20%;
  background-color: darkgrey;
  color: white;
}

.log > input {
  -webkit-appearance: textfield;
}

.log > a {
  text-decoration: none;
  font-size: 12px;
}

.log > a:hover {
  font-weight: bold;
}
