.loginBox > h3 {
  text-align: center;
  margin: 0 auto;
}

.loginBox {
  margin: 100px auto;
  padding: 5px;
  border: 2px solid black;
  border-radius: 15px;
  width: 20%;
  background-color: darkgrey;
  color: white;
  text-shadow: 1px 1px 1px black;
}
